.radio-item {
    margin: 10px;
    float: left;
}
.radio-item input {
    display: none;

}
.radio-item input:checked+label{
    opacity: 1;
}
.radio-item input:checked+label:after{
    content: '\02713';
    font-size: 85px;
    color: #000;
    font-weight: bold;
    display: block;
    position: absolute;
    opacity: 0.7;
    width: 100px;
    height: 100px;
    padding-left: 22px;

}
.radio-label {
    display: block;
    height: 100px;
    width: 100px;
    background-image: url("/img/checked/1.jpg");
    border-radius: 50px;
    opacity: 0.5;
}
.radio-label-1{
    background-image: url("/img/checked/1.jpg");
}
.radio-label-2{
    background-image: url("/img/checked/2.jpg");
}
.radio-label-3{
    background-image: url("/img/checked/3.jpg");
}
.radio-label-4{
    background-image: url("/img/checked/4.jpg");
}
.radio-label-5{
    background-image: url("/img/checked/5.jpg");
}
