extends layouts/main
block variables
    - pageTitle="Example page"
block styles
    +link("/styles/main.css")
block body
    #menubar
        ul#menulist
            li.menuitem(onclick='reStyle(0)')
                a Stylesheet 1
            li.menuitem(onclick='reStyle(1)')
                a Stylesheet 2
            li.menuitem(onclick='reStyle(2)')
                a Stylesheet 3
            li.menuitem(onclick='reStyle(3)')
                a Stylesheet 4
            li.menuitem(onclick='noStyles()')
                a No Stylesheet