include ../mixins/_helper
block variables
    - pagetitle = "Default title"
doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title= pageTitle
        block styles
    body
        block body
